In [1]:
import os
import requests
import zipfile

In [2]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
#Magic function to enable interactive plotting (zoom/pan) in Jupyter notebook
#If running locally, this would be %matplotlib notebook, but since we're using Juptyerlab, we will use widget
%matplotlib widget
#%matplotlib inline

In [5]:
#Define path to sample GLAS data
glas_fn='GLAH14_tllz_conus_lulcfilt_demfilt.csv'

In [6]:
#Quick check of csv file contents
!head $glad_fn

^C

In [7]:
glas_df=pd.read_csv(glas_fn)

In [8]:
glas_df

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc
0,2003.139571,731266.943345,44.157897,-105.356562,1398.51,1400.52,0.33,31
1,2003.139571,731266.943346,44.150175,-105.358116,1387.11,1384.64,0.43,31
2,2003.139571,731266.943347,44.148632,-105.358427,1392.83,1383.49,0.28,31
3,2003.139571,731266.943347,44.147087,-105.358738,1384.24,1382.85,0.84,31
4,2003.139571,731266.943347,44.145542,-105.359048,1369.21,1380.24,1.73,31
...,...,...,...,...,...,...,...,...
65231,2009.775995,733691.238340,37.896222,-117.044399,1556.16,1556.43,0.00,31
65232,2009.775995,733691.238340,37.897769,-117.044675,1556.02,1556.43,0.00,31
65233,2009.775995,733691.238340,37.899319,-117.044952,1556.19,1556.44,0.00,31
65234,2009.775995,733691.238340,37.900869,-117.045230,1556.18,1556.44,0.00,31
65235,2009.775995,733691.238341,37.902420,-117.045508,1556.32,1556.44,0.00,31

In [9]:
glas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65236 entries, 0 to 65235
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   decyear    65236 non-null  float64
 1   ordinal    65236 non-null  float64
 2   lat        65236 non-null  float64
 3   lon        65236 non-null  float64
 4   glas_z     65236 non-null  float64
 5   dem_z      65236 non-null  float64
 6   dem_z_std  65236 non-null  float64
 7   lulc       65236 non-null  int64
dtypes: float64(7), int64(1)
memory usage: 4.0 MB

In [10]:
glas_df.columns

Index(['decyear', 'ordinal', 'lat', 'lon', 'glas_z', 'dem_z', 'dem_z_std',
       'lulc'],
      dtype='object')

In [12]:
glas_df.head()

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc
0,2003.139571,731266.943345,44.157897,-105.356562,1398.51,1400.52,0.33,31
1,2003.139571,731266.943346,44.150175,-105.358116,1387.11,1384.64,0.43,31
2,2003.139571,731266.943347,44.148632,-105.358427,1392.83,1383.49,0.28,31
3,2003.139571,731266.943347,44.147087,-105.358738,1384.24,1382.85,0.84,31
4,2003.139571,731266.943347,44.145542,-105.359048,1369.21,1380.24,1.73,31

In [13]:
glas_df.tail()

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc
65231,2009.775995,733691.238340,37.896222,-117.044399,1556.16,1556.43,0.0,31
65232,2009.775995,733691.238340,37.897769,-117.044675,1556.02,1556.43,0.0,31
65233,2009.775995,733691.238340,37.899319,-117.044952,1556.19,1556.44,0.0,31
65234,2009.775995,733691.238340,37.900869,-117.045230,1556.18,1556.44,0.0,31
65235,2009.775995,733691.238341,37.902420,-117.045508,1556.32,1556.44,0.0,31

In [15]:
glas_df.mean()

decyear        2005.945322
ordinal      732291.890372
lat              40.946798
lon            -115.040612
glas_z         1791.494167
dem_z          1792.260964
dem_z_std         5.504748
lulc             30.339444
dtype: float64

In [16]:
glas_df.std()

decyear         1.729573
ordinal       631.766682
lat             3.590476
lon             5.465065
glas_z       1037.183482
dem_z        1037.925371
dem_z_std       7.518558
lulc            3.480576
dtype: float64

In [17]:
#apply a custom function to each column
#in this example we will compute the normalized median absolute deviation (NMAD) which for a normal distribution is the same as the standard deviation
#for data containing outliers it is a more robust representation of variability
#we will then use the Pandas apply method to compute the NMAD for all values in each column
def nmad(a, c=1.4826):
    return np.median(np.fabs(a - np.median(a))) * c

In [18]:
glas_df.apply(nmad)

decyear        2.066488
ordinal      755.079010
lat            3.885421
lon            5.798237
glas_z       632.580942
dem_z        632.136162
dem_z_std      2.001510
lulc           0.000000
dtype: float64

In [19]:
#note NMAD function is now distributed with scipy.stats and can be imported
#import scipy.stats
#glas_df.apply(scipy.stats.median_absolute_deviation)
#note describe gives you a lot of info about your data say in the .csv file
glas_df.describe()

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc
count,65236.000000,65236.000000,65236.000000,65236.000000,65236.000000,65236.000000,65236.000000,65236.000000
mean,2005.945322,732291.890372,40.946798,-115.040612,1791.494167,1792.260964,5.504748,30.339444
std,1.729573,631.766682,3.590476,5.465065,1037.183482,1037.925371,7.518558,3.480576
min,2003.139571,731266.943345,34.999455,-124.482406,-115.550000,-114.570000,0.000000,12.000000
25%,2004.444817,731743.803182,38.101451,-119.257599,1166.970000,1168.240000,0.070000,31.000000
50%,2005.846896,732256.116938,39.884541,-115.686241,1555.730000,1556.380000,1.350000,31.000000
75%,2007.223249,732758.486046,43.453565,-109.816475,2399.355000,2400.072500,9.530000,31.000000
max,2009.775995,733691.238341,48.999727,-104.052336,4340.310000,4252.940000,49.900000,31.000000

In [20]:
glas_df.plot(x='lon',y='lat',kind='scatter',c='glas_z',s=1,cmap='inferno')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
#try changing the variable represented with the color ramp
glas_df.plot(x='lon',y='lat',kind='scatter',c='decyear',s=1,cmap='inferno')
#create a histogram that shows the number of points vs time (decyear)
#Determine the number of bins needed to provide weekly resolution
nbins=int(50*np.ptp(glas_df['decyear'].values))
nbins

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

331

In [22]:
ax=glas_df.hist('decyear',bins=nbins)[0,0]
ax.set_ylabel('Number of ICESat points')
ax.set_title('Weekly usable ICESat point count over CONUS')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 'Weekly usable ICESat point count over CONUS')

In [23]:
#Determine number of bins needed for 20 m elevation bins
binwidth=20
nbins=int(np.ptp(glas_df['glas_z'].values)/binwidth)
nbins

222

In [24]:
glas_df.hist('glas_z',bins=nbins)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x7f3b5632a110>]],
      dtype=object)

In [25]:
#some values are negative, that means they are below the WGS84 ellipsoid
#first find how many GLAS points have negative values
glas_df['glas_z'] < 0
(glas_df['glas_z'] < 0).value_counts()

False    62136
True      3100
Name: glas_z, dtype: int64

In [26]:
#create a scatter plot using points below 0 height above the WGS84 ellipsoid
glas_df[glas_df['glas_z'] < 0]
glas_df[glas_df['glas_z'] < 0].plot(x='lon',y='lat',kind='scatter',c='dem_z',s=1,cmap='inferno',vmin=-30, vmax=0)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [27]:
#compute the elevation difference between ICESat glas_z and SRTM dem_z values
glas_df['glas_srtm_dh']=glas_df['glas_z']-glas_df['dem_z']

In [28]:
#compute the time difference between ICESat point timestamp and the SRTM timestamp
#store in new column named glas_srtm_dt
#February 11-22, 2000
srtm_decyear=2000.112
glas_df['glas_srtm_dt']=glas_df['decyear']-srtm_decyear
glas_df.head()

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc,glas_srtm_dh,glas_srtm_dt
0,2003.139571,731266.943345,44.157897,-105.356562,1398.51,1400.52,0.33,31,-2.01,3.027571
1,2003.139571,731266.943346,44.150175,-105.358116,1387.11,1384.64,0.43,31,2.47,3.027571
2,2003.139571,731266.943347,44.148632,-105.358427,1392.83,1383.49,0.28,31,9.34,3.027571
3,2003.139571,731266.943347,44.147087,-105.358738,1384.24,1382.85,0.84,31,1.39,3.027571
4,2003.139571,731266.943347,44.145542,-105.359048,1369.21,1380.24,1.73,31,-11.03,3.027571

In [29]:
#compute the apparent annualized elevation change rate (dh/dt in meters per year) from these new columns
glas_df['glas_srtm_dhdt']=glas_df['glas_srtm_dh']/glas_df['glas_srtm_dt']
glas_df.head()

,decyear,ordinal,lat,lon,glas_z,dem_z,dem_z_std,lulc,glas_srtm_dh,glas_srtm_dt,glas_srtm_dhdt
0,2003.139571,731266.943345,44.157897,-105.356562,1398.51,1400.52,0.33,31,-2.01,3.027571,-0.663899
1,2003.139571,731266.943346,44.150175,-105.358116,1387.11,1384.64,0.43,31,2.47,3.027571,0.815836
2,2003.139571,731266.943347,44.148632,-105.358427,1392.83,1383.49,0.28,31,9.34,3.027571,3.084982
3,2003.139571,731266.943347,44.147087,-105.358738,1384.24,1382.85,0.84,31,1.39,3.027571,0.459114
4,2003.139571,731266.943347,44.145542,-105.359048,1369.21,1380.24,1.73,31,-11.03,3.027571,-3.643185

In [31]:
#create a scatterplot of the difference values, use red to blue color map (RdBu)
#set the color ramp limits using vmin and vmax keyword arguments to be symmetrical about 0z

In [32]:
ax = glas_df.plot(x='lon', y='lat', kind='scatter', c='glas_srtm_dh', s=1, cmap='RdBu', vmin=-10, vmax=10)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [33]:
ax = glas_df.plot(x='lon', y='lat', kind='scatter', c='glas_srtm_dh', s=1, cmap='RdBu', vmin=-50, vmax=50)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [34]:
#compute some descriptive statistics
print(glas_df['glas_srtm_dh'].mean())
print(glas_df['glas_srtm_dh'].std())

-0.7667968606291014
12.36334152209537

In [36]:
print(glas_df['glas_srtm_dh'].median())
print(nmad(glas_df['glas_srtm_dh']))

-0.7999999999999545
2.4314640000001484

In [37]:
#create a histogram of the difference values
f, ax=plt.subplots()
glas_df.hist('glas_srtm_dh',ax=ax,bins=128,range=(-10,10))
ax.axvline(0, color='k')
ax.axvline(glas_df['glas_srtm_dh'].median(),color='r')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [38]:
#create a scatterplot of elevation difference (glas_srtm_dh) values vs. elvation values
ax = glas_df.plot('glas_z', 'glas_srtm_dh', kind='scatter', s=1)
#Add a horizontal line at 0
ax.axhline(0, color='k', lw=0.5)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [39]:
#remove outliers, one option is to define outliers as values outside some absolute threshold, can set this as a multiple of the standard deviation (3*std)
print("Mean difference:", glas_df['glas_srtm_dh'].mean())
thresh = 3.5 * glas_df['glas_srtm_dh'].std()
print("3.5 * std:", thresh)

Mean difference: -0.7667968606291014
3.5 * std: 43.271695327333795

In [40]:
idx = (glas_df['glas_srtm_dh'] - glas_df['glas_srtm_dh'].mean()).abs() <= thresh
glas_df_fltr = glas_df[idx]
print("Number of points before filter:", glas_df.shape[0])
print("Number of points after filter:", glas_df_fltr.shape[0])

Number of points before filter: 65236
Number of points after filter: 64589

In [41]:
clim = thresh
f, axa = plt.subplots(1,2, figsize=(10,4))
#Outliers plotted in black
glas_df.plot(ax=axa[1], x='glas_z', y='glas_srtm_dh', kind='scatter', s=1, color='k', label='Outliers')
glas_df_fltr.plot(ax=axa[0], x='lon', y='lat', kind='scatter', c='glas_srtm_dh', s=1, cmap='RdBu', vmin=-clim, vmax=clim)
glas_df_fltr.plot(ax=axa[1], x='glas_z', y='glas_srtm_dh', kind='scatter', s=1, c='orange', label='Inliers')
glas_df[~idx].plot(ax=axa[0], x='lon', y='lat', kind='scatter', color='k', s=1, legend=False)
axa[1].axhline(0,color='k')
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …